PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://cms_user:cms_password_2026@localhost:5432/cms_database?schema=public"
JWT_SECRET="cms_super_secret_jwt_key_2026_dlu"
JWT_EXPIRES_IN="1d"
REFRESH_TOKEN_SECRET="cms_super_refresh_jwt_key_2026_dlu"
REFRESH_TOKEN_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:3000"
